.container {
    display: flex;
    flex-direction: column;
}

.container .head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .head img {
    width: 16%;
    margin-right: 2.5rem;
}

.container .head h1 {
    font-size: 4rem;
}

.container .subHead h2 {
    text-align: center;
    margin-bottom: 1rem;
}